<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../normalize.css">
    <link rel="stylesheet" href="../style.css">
    <title>Beatiful Blog</title>
</head>
<body>
    <div class="add-button">
        <button title="Add a post">+</button>
    </div>
    <div class="main">
        <div class="main__left-sidebar">
            	<span class="left-sidebar__text">This is about a lifestyle</span>
        </div>
        <div class="main__content-container">
            <div class="content-container__post">
                <div class="post__photo-container">
                    <img src="../images/dino-reichmuth-A5rCN8626Ck-unsplash.jpg" alt="" class="photo-container__img">
                </div>
                <div class="content-container__text">
                    <a href="#" class="post__link">
                        <div class="text__title text--padding"><h1>Title</h1></div>
                        <div class="text__description text--padding"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim accusamus dolor ab vel qui dicta, quis labore excepturi? Soluta explicabo id asperiores totam animi, nihil minus voluptatum reprehenderit dolore ea.</p></div>
                        <div class="text__author text--padding"><h4>By John Doe</h4></div>
                        <div class="text__date text--padding">15 October 2020</div>
                    </a>
                </div>
            </div>
            <div class="content-container__post">
                <div class="content-container__text">
                    <a href="#" class="post__link">
                        <div class="text__title text--padding"><h1>Title</h1></div>
                        <div class="text__description text--padding"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim accusamus dolor ab vel qui dicta, quis labore excepturi? Soluta explicabo id asperiores totam animi, nihil minus voluptatum reprehenderit dolore ea.</p></div>
                        <div class="text__author text--padding"><h4>By John Doe</h4></div>
                        <div class="text__date text--padding">15 October 2020</div>
                    </a>
                </div>
                <div class="post__photo-container">
                    <img src="../images/jake-melara-Yh6K2eTr_FY-unsplash.jpg" alt="" class="photo-container__img">
                </div>
            </div>
            <div class="content-container__post">
                <div class="post__photo-container">
                    <img src="../images/dino-reichmuth-A5rCN8626Ck-unsplash.jpg" alt="" class="photo-container__img">
                </div>
                <div class="content-container__text">
                    <a href="#" class="post__link">
                        <div class="text__title text--padding"><h1>Title</h1></div>
                        <div class="text__description text--padding"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim accusamus dolor ab vel qui dicta, quis labore excepturi? Soluta explicabo id asperiores totam animi, nihil minus voluptatum reprehenderit dolore ea.</p></div>
                        <div class="text__author text--padding"><h4>By John Doe</h4></div>
                        <div class="text__date text--padding">15 October 2020</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>